@import 'variables';

.vertical--center{
    display: flex;
    align-items: center;
}

.horizontal--center{
    display: flex;
    justify-content: center;
}


.card{
    background-color: $primary;
    width: 100%;
    min-height: 100px;
    height: auto;
    padding: 20px;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
