
// Color palette
$primary: #fff;
$secondary: #3d8fcb;
$tertiary: black;

$background-color: #f5f5f5;

$info: white;
$warn: yellow;

$positive: #75c900;
$negative: #f44336;

$shadow: rgba(0,0,0,0.2);
